body{
    min-height: 100vh;
    width: 99vw;
}

header{
    height:300px;
    text-align: center;
    background-image: url('ss.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#oc{
display: flex;
gap:10px;
}

#oc div{
background-color: rgb(242, 239, 239);
}

#c1{
margin-top: 10px;
flex:2;
border-radius: 20px;
box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3),
    inset -5px -5px 10px rgba(255,255,255,0.5);

}

#c2{
margin-top: 10px;
flex:1;
height: 300px;


}

#cc{
background-color: rgb(148, 59, 64);
height: 100px;
display:flex;
justify-content: center;
align-items: center;
margin: 10px 0 10px 0;
border-radius: 20px;
font-size: 2rem;
font-family: 'Sacramento', cursive;
letter-spacing: 1px;
color:white;
}

#c2 img{
width:100%;
height: 100%;
object-fit: cover;
object-position: center;
box-sizing: border-box;
border: 3px solid red;
}

h1{
position: relative;
padding:0;
margin: 0;
box-sizing: border-box;
border-radius: 3%;
border: 3px solid rgb(63, 73, 104);
top:20px;
background-color: azure;

}

p{
padding-top: 20px;
font-size:1.3rem;
font-family: sans-serif;
margin:10px;
}

p::first-letter{
margin-left: 40px;
}

#gc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}

#gc div{
    /* background-color: blanchedalmond; */
   
    height:400px;
}

#gc img{
    width: 100%;
    height:100%;
    object-fit: contain;
}

hr{
    margin:20px;
}

footer{
    height:200px;
    background-color: antiquewhite;
    margin-top: 20px;
}